useDynLib(SBgamlss, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
import(gamlss)
import(gamlss.dist)
import(numDeriv)
import(stats)

export(SB)
export(dsb_vec)
export(dSB)
export(pSB)
export(qSB)
export(rSB)
